*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#081327;
color:white;
min-height:100vh;
display:flex;
flex-direction:column;
}

.topbar{
padding:18px;
text-align:center;
background:#101c37;
font-size:22px;
font-weight:bold;
}

.home-card{
margin:25px;
padding:25px;
background:#12203c;
border-radius:20px;
text-align:center;
}

.home-card h1{
margin-bottom:15px;
}

.home-card p{
color:#cfd8dc;
line-height:1.6;
margin-bottom:25px;
}

.online-box{
background:#0d1730;
padding:15px;
border-radius:12px;
margin-bottom:25px;
font-size:20px;
}

button{
width:100%;
padding:18px;
background:#00C853;
border:none;
border-radius:14px;
color:white;
font-size:18px;
font-weight:bold;
}

.bottom-nav{
margin-top:auto;
display:flex;
justify-content:space-around;
padding:15px;
background:#101c37;
text-align:center;
}

.bottom-nav div{
cursor:pointer;
font-size:14px;
}

.loader{

width:70px;

height:70px;

margin:30px auto;

border-radius:50%;

border:6px solid #2b3d63;

border-top:6px solid #00C853;

animation:spin 1s linear infinite;

}

@keyframes spin{

100%{

transform:rotate(360deg);

}

}

.hidden{
display:none;
}
